<!DOCTYPE html>
<html>
	<head>
	<title></title>
		<link rel='stylesheet' href='/css/tdc.css' />
		<link rel='stylesheet' href='/css/animate.css' />	
	</head>
	<body>
		
		<div class="mask_1"></div>
		<div id="section-1" class="slide insection-1">
			<div class="section-1bg">
				<img src="/img/bg1.png" class="cloud_fr cld_1" style="width:300px;top:30%;left:10%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_2" style="width:100px;top:70%;left:60%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_3" style="width:160px;top:5%;left:10%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_4" style="width:250px;top:20%;left:90%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_5" style="width:600px;top:30%;left:50%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_6" style="width:100px;top:50%;left:25%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_7" style="width:130px;top:80%;left:40%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_8" style="width:280px;top:10%;left:60%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_9" style="width:100px;top:50%;left:25%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_10" style="width:80px;top:90%;left:30%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_11" style="width:250px;top:70%;left:10%"/>
				<img src="/img/bg1.png" class="cloud_fr cld_12" style="width:190px;top:90%;left:90%"/>
				<img src="/img/city1.png" class="cloud_fr cloud_city"/>
				<img src="/img/city2.png" class="cloud_fr cloud_city"/>
				<img src="/img/city3.png" class="cloud_fr cloud_city"/>
				<div class="airplane">
					<img src="/img/airplane.png" style="width:50%"/>
				</div>
				<div class="ct_1">
					<div class="content_title">
						<img src="/img/title1.png"/>
					</div>
					<div class="content">
						<h3>臺北，不斷提昇的城市</h3>
						<p>"隨著社會意識抬頭，設計不只是創新，更重要的是解決生活中各式各樣的問題…”</p>
						<p>在社會設計的氛圍下，臺北市「2016 WDC Taipei」政策將落實「以人為本的設
						計」（Design is People）理念，一方面實踐「社會設計」（Social Design）的
						時代發展潮流，另一方面以「設計是現代公民應有的生活素養」作為推廣目標，
						讓市民廣泛的認識設計，感受設計、享受設計。</p>
						<p>Adaptive City的核心理念是，城市治理必須勇於創新與追求卓越。面對發展上
						的種種挑戰，唯有不斷求新求變，運用具有前瞻性的創新思維與作法，城市才能
						為市民帶來更美好的生活。我們透過多元社群、數位行動工具、實體的能量引爆
						，動員線上到線下大社群，凝聚了眾人的智慧和參與。</p>
						<p>
						Adaptive City是當代城市發展的新典範，是臺北致力於推動實踐的城市願景，
						也是臺北的故事。我們期待，當設計能量從一個一個的城市角落開始發聲，經過
						大家的參與後逐漸累積成「設計實現生活願景」的全民意識，我們將擁有更多新
						想法和力量，將問題化為城市未來的新契機。</p>
					</div>
				</div>
			</div>
		</div>
		<div id="section-2" class="slide">
			<div class="section-2bg">
				<div class="content_title">
					<img src="/img/title2.png"/>
				</div>
				<div class="content ct_2bg">
					<div>
					<p>和城市一起走過的路，醞釀強大的設計力量</p>
					<p>因為2016臺北市申請世界設計之都的幸福願景，我們
						不只向前走，也開始回頭細數、深刻探究臺北的過去，
						回味人與環境互動下，獨特的光陰故事。</p>
					<p>漸漸的我們長大，城市也隨著我們悄悄蛻變、不斷提昇
						、不斷進化。我們體會，生活的美好總是出現在不經意
						之處，平日漫步的臺北街頭有了更有趣的風景。城市的
						角落，正醞釀著強大的設計力量。</p>
					</div>
				</div>
				<img src="/img/bicycle.png" class="bicycle" style=""/>
				<img src="/img/newTrain.png" class="train" style=""/>
				<img src="/img/oldTrain.png" class="MRT" style=""/>
			</div>
		</div>
		<div id="section-3" class="slide">
			<div class="section-3bg">
				<div class="content_title">
					<img src="/img/title3.png"/>
				</div>
				<div class="content">
					<p>因為設計之都，我們
						一起看見了臺北的設
						計靈魂。</p>
					<p>周遭流動的風景不再
						是理所當然，我們用
						更好奇的眼光觀察、
						記錄這個世代
						日常現象彷彿也有了
						新的意義，我們更熱
						切的與其他人分享。
						向世界展現臺北市對
						於申辦世界設計之都
						的熱情。</p>
				</div>
			</div>
		</div>
		<div id="section-4" class="slide">
			<div class="section-4bg">
				<div class="section-4fr">
					<div class="bk4_fr">
						
					</div>
					<div class="content4_title">
						<div class="content_title ">
							<img src="/img/title4.png"/>
						</div>
						<div class="content">
							<p>我們不斷凝聚有熱血、有想法，願意站起來，動手為這個城市做一些改變的人運用網路與科技、融合人文的關懷與同理心，具體解決居民的食衣住行問題</p>
							<p>民間設計能量正熱血實踐一個個具體案例，創造更多幸福，讓這座城市變得更好。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="section-5" class="slide">
			<div class="section-5bg">
				<div class="content_title">
					<img src="/img/title5.png"/>
				</div>
				<div class="content">
					<p>這一次，我們玩數位、拼熱血，串連線上臺北前所未有的設計能量由全世界第一個會走動的小綠人發聲，宣示「奔跑吧！臺北設計之光」</p>
					<p>We Are Ready! </p>
					<p>以實際行動支持臺北市奔向2016世界設計之都</p>
					<p>每一座WDC都有自己的故事，臺北的故事內容正在如火如荼的開展中。在2016年，我們將會看到，臺北市精彩的銳變。</p>
					
				</div>
				<img src="/img/global.png" class="gb" id="gb"/>
			</div>
		</div>
	</body>
	<script src="/js/jquery.js"></script>
	<script src="/js/modernizr.custom.js"></script>
	<script src="/js/jquery.scrollAnimate.js"></script>
	<script src="/js/TweenMax.js"></script>
	<script src="/js/jquery.easing.js"></script>
	<script src="/js/jquery.scrolldeck.js"></script>
	<script src="/js/jquery.scrollorama.js"></script>
	<script src="/js/jquery.scrollTo.js"></script>
	<script src="/js/jquery.parallax.js"></script>
	<script src="/js/jquery.inview.js"></script>
	<!--<script src="/js/jquery.superscrollorama.js"></script>-->
	<script src="/js/jquery.scrollAnimate.js"></script>

	</script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</html>