<!DOCTYPE html>
<html>
	<head>
	<title></title>
		<link rel='stylesheet' href='/css/tdc.css' />
		<script src="/js/jquery.js"></script>
		<script src="/js/modernizr.custom.js"></script>
		<script src="/js/jquery.scrollAnimate.js"></script>
		<script src="/js/TweenMax.js"></script>
		<script src="/js/jquery.superscrollorama.js"></script>
		
	</head>
	<body>
		<img src="/img/small_logo.png" class="s_logo_img" id="s_logo_pic_fr"/>
		<div class="line_fr" id="line_fr">
			<div class="line_fr_l" id="line_fr_l">
				<ul>
					<li class="title_1">
						<a class="title_1_a">不斷提昇的城市</a>
					</li>
					<li class="title_2">
						<a class="title_2_a">走過的路</a>
					</li>
					<li class="title_3">
						<a class="title_3_a">社群動起來</a>
					</li>
					<li class="title_4">
						<a class="title_4_a">熱血正燃燒</a>
					</li>
					<li class="title_5">
						<a class="title_5_a">被世界看見</a>
					</li>
				</ul>
			</div>
			<div class="line_fr_left" id ="logo_line">
			<ul>
				<li class="line_1" data-section="city">
					<img src="/img/tag_fr1.png" class="tag_tr"/>
					<div class="cr_fr"></div>
				</li>
				<li class="line_2" data-section="road">
					<img src="/img/tag_fr2.png" class="tag_tr"/>
					<div class="cr_fr"></div>
				</li>
				<li class="line_3" data-section="sociaty">
					<img src="/img/tag_fr3.png" class="tag_tr"/>
					<div class="cr_fr"></div>
				</li>
				<li class="line_4" id="tag_trf4" data-section="hotblood">
					<img src="/img/tag_fr4.png" class="tag_tr" />
					<div class="cr_fr"></div>
				</li>
				<li class="line_5" data-section="world">
					<img src="/img/tag_fr5.png" class="tag_tr"/>
					<div class="cr_fr"></div>
				</li>
			</ul>
			</div>
			<div class="line_fr_right">
				<div id="loading_fr"></div>
				<img src="/img/logo.png" class="logo_img" id="logo_pic_fr"/>
			</div>
		</div>
	</body>
	<script>

		var logo_line = document.getElementById('logo_line');
		var line_fr = document.getElementById('line_fr');
		var logo_pic_fr = document.getElementById('logo_pic_fr');
		var line_fr_l = document.getElementById('line_fr_l');
		var s_logo_pic_fr = document.getElementById('s_logo_pic_fr');
		var tag_trf4 = document.getElementById('tag_trf4');
		var line_fr_right = document.getElementById('line_fr_right');
		var body_fr = $('body');
		var loading_fr = document.getElementById('loading_fr');
		
		var i=0;

		function al(){   
		   i++;
		   if(i<101) setTimeout(function(){
		   	loading_fr.innerHTML=i+'%';
		   	al();
		   	if (i == 100){
		   		display_after_loading();
		   	}
		   },10);
		}
   		function display_after_loading(){
			setTimeout('',300)
			TweenMax.to(logo_pic_fr, .5, {alpha:1,delay:0.3});
			TweenMax.to(loading_fr, .3, {"display":"none",alpha:1});
			TweenMax.to(logo_line, 1, {width:"100%",delay:1.5});
			TweenMax.to(tag_trf4, .1, {width:"100%",position:"relative",left:"0%",delay:1.5});
			TweenMax.to(logo_pic_fr, .3, {"margin-left":"10%",alpha:0,"display":"none",delay:1.7});
			TweenMax.to(logo_line, 1, {css:{width:"7%",position:'relative',left:"93%"},delay:2.5});
			TweenMax.to(s_logo_pic_fr, 1, {alpha:1,delay:2.5})
			TweenMax.to(line_fr, .0, {width:"7%",position:'fixed',right:0,"z-index":"99",delay:3.5});
			TweenMax.to(tag_trf4, .1, {width:"100%",left:"",delay:3.5});
			TweenMax.to(logo_line, .0, {width:"100%",height:"",float:"",left:"",delay:3.5});
			TweenMax.to(logo_line, .3, {left:"40px",delay:4,onComplete:addtagClass});
			//setTimeout('addtagClass()',3500);
			//setTimeout('hovertagcontent()',6000);
		}
		// TweenMax.from(body_fr, .5, {width:"120%"}).to(body_fr, 2, {width:"100%"});
		// TweenMax.to(logo_pic_fr, .8, {display:"none"});
		// var controller = $.superscrollorama();
		// controller.addTween('#logo_line', TweenMax.fromTo(logo_line, .5, {css:{width: '5%'}},{css:{width: '100%'}},.25,1));

		function addtagClass(){
			$('.line_fr_l').addClass('line_fr_left_ac');
			$('.line_1').addClass('line_tr_1');
			$('.line_2').addClass('line_tr_2');
			$('.line_3').addClass('line_tr_3');
			$('.line_4').addClass('line_tr_4');
			$('.line_5').addClass('line_tr_5');
			var $hovertag = $('.line_fr_left').find('li');
			$hovertag.bind({
				mouseenter: function(e){
					TweenMax.to($(this), .4, {position:'relative',right:'40px'});
					//console.log(e);
					var section = $(this).data('section');
					switch(section) {
						case 'city':
							$('.title_1 > a').addClass('display')
							break;
						case 'road':
							$('.title_2 > a').addClass('display')
							break;
						case 'sociaty':
							$('.title_3 > a').addClass('display')
							break;
						case 'hotblood':
							$('.title_4 > a').addClass('display')
							break;
						case 'world':
							$('.title_5 > a').addClass('display')
							break;
					}
				},
				mouseleave: function(){
					TweenMax.to($(this), .4, {position:'relative',right:'0px'})
					var section = $(this).data('section');
					switch(section) {
						case 'city':
							$('.title_1 > a').removeClass('display')
							break;
						case 'road':
							$('.title_2 > a').removeClass('display')
							break;
						case 'sociaty':
							$('.title_3 > a').removeClass('display')
							break;
						case 'hotblood':
							$('.title_4 > a').removeClass('display')
							break;
						case 'world':
							$('.title_5 > a').removeClass('display')
							break;
					}
				}
			});
		}


		Modernizr.load([
			{
				test : Modernizr.fontface && Modernizr.canvas && Modernizr.cssgradients,
				both : [ '/js/TweenMax.js' ,'/js/jquery.scrollAnimate.js'],
				complete : function () {
				  //console.log('final2!!!')
				  al();
				}
			}
		]);
	</script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</html>