<!DOCTYPE html>
<html>
	<head>
	<title></title>
		<link rel='stylesheet' href='/css/tdc_tml.css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/js/raphael-min.js"></script>
		<script src="/js/jquery.scrollAnimate.js"></script>
		<script>
		</script>
	</head>
	<body>
		<div class="cn_fr">
			<div class="r3_1"></div>
			<div class="r3_2"></div>
			<div class="r3_3"></div>
			<div class="r3_4"></div>
			<div class="r3_5"></div>
			<div class="r3_6"></div>
			<div class="r3_7"></div>
			<div class="r3_8"></div>
			<div class="r3_9"></div>
		</div>
	</body>
	<script>
	$('.r3_1').scrollAnimate({
		startScroll: 0,
		endScroll: 120,
		cssProperty: 'width',
		before: 0,
		after: 100
	}).scrollAnimate({
		startScroll: 0,
		endScroll: 120,
		cssProperty: 'display',
		before: 'none',
		after: 'block'
	});
	$('.r3_2').scrollAnimate({
		startScroll: 120,
		endScroll: 240,
		cssProperty: 'height',
		before: 0,
		after: 60
	}).scrollAnimate({
		startScroll: 120,
		endScroll: 120,
		cssProperty: 'display',
		before: 'none',
		after: 'block'
	});
	$('.r3_3').scrollAnimate({
		startScroll: 240,
		endScroll: 360,
		cssProperty: 'width',
		before: 0,
		after: 50
	}).scrollAnimate({
		startScroll: 240,
		endScroll: 240,
		cssProperty: 'display',
		before: 'none',
		after: 'block'
	});
	$('.r3_4').scrollAnimate({
		startScroll: 360,
		endScroll: 480,
		cssProperty: 'height',
		before: 0,
		after: 140
	}).scrollAnimate({
		startScroll: 360,
		endScroll: 360,
		cssProperty: 'display',
		before: 'none',
		after: 'block'
	});
	$('.r3_5').scrollAnimate({
		startScroll: 480,
		endScroll: 600,
		cssProperty: 'width',
		before: 0,
		after: 50
	}).scrollAnimate({
		startScroll: 480,
		endScroll: 480,
		cssProperty: 'display',
		before: 'none',
		after: 'block'
	});
	$('.r3_6').scrollAnimate({
		startScroll: 600,
		endScroll: 720,
		cssProperty: 'height',
		before: 0,
		after: 60
	}).scrollAnimate({
		startScroll: 600,
		endScroll: 600,
		cssProperty: 'display',
		before: 'none',
		after: 'block'
	});
	$('.r3_7').scrollAnimate({
		startScroll: 720,
		endScroll: 840,
		cssProperty: 'width',
		before: 0,
		after: 160
	}).scrollAnimate({
		startScroll: 720,
		endScroll: 720,
		cssProperty: 'display',
		before: 'none',
		after: 'block'
	});
	$('.r3_8').scrollAnimate({
		startScroll: 840,
		endScroll: 960,
		cssProperty: 'height',
		before: 0,
		after: 140
	}).scrollAnimate({
		startScroll: 840,
		endScroll: 840,
		cssProperty: 'display',
		before: 'none',
		after: 'block'
	});
	</script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</html>