<!DOCTYPE html>
<html>
	<head>
	<title></title>
		<link rel='stylesheet' href='/css/tdc.css' />
		<link rel='stylesheet' href='/css/animate.css' />	
	</head>
	<body>
		<img src="/img/small_logo.png" class="s_logo_img" id="s_logo_pic_fr"/>
		<div class="line_fr" id="line_fr">
			<div class="line_fr_l" id="line_fr_l">
				<ul>
					<li class="title_1">
						<a class="title_1_a">不斷提昇的城市</a>
					</li>
					<li class="title_2">
						<a class="title_2_a">走過的路</a>
					</li>
					<li class="title_3">
						<a class="title_3_a">社群動起來</a>
					</li>
					<li class="title_4">
						<a class="title_4_a">熱血正燃燒</a>
					</li>
					<li class="title_5">
						<a class="title_5_a">被世界看見</a>
					</li>
				</ul>
			</div>
			<div class="line_fr_left" id ="logo_line">
			<ul id="nav">
				<a href="#section-1">
					<li class="line_1" data-section="city">	
						<img src="/img/tag_fr1.png" class="tag_tr"/>
						<div class="cr_fr"></div>
					</li>
				</a>
				<a href="#section-2">
					<li class="line_2" data-section="road">
						<img src="/img/tag_fr2.png" class="tag_tr"/>
						<div class="cr_fr"></div>
					</li>
				</a>
				<a href="#section-3">
					<li class="line_3" data-section="sociaty">
						<img src="/img/tag_fr3.png" class="tag_tr"/>
						<div class="cr_fr"></div>
					</li>
				</a>
				<a href="#section-4">
					<li class="line_4" id="tag_trf4" data-section="hotblood">
						<img src="/img/tag_fr4.png" class="tag_tr" />
						<div class="cr_fr"></div>
					</li>
				</a>
				<a href="#section-5">
					<li class="line_5" data-section="world">
						<img src="/img/tag_fr5.png" class="tag_tr"/>
						<div class="cr_fr"></div>
					</li>
				</a>
			</ul>
			</div>
			<div class="line_fr_right">
				<div id="loading_fr"></div>
				<img src="/img/logo.png" class="logo_img" id="logo_pic_fr"/>
			</div>
		</div>

		<div id="section-1" class="slide insection-1">
			<img src="/img/bg1.png" class="cloud_fr" style="width:300px;top:30%;left:10%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:100px;top:70%;left:60%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:160px;top:5%;left:10%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:250px;top:20%;left:90%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:600px;top:30%;left:50%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:100px;top:50%;left:25%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:130px;top:80%;left:40%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:280px;top:10%;left:60%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:100px;top:50%;left:25%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:80px;top:90%;left:30%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:250px;top:70%;left:10%"/>
			<img src="/img/bg1.png" class="cloud_fr" style="width:190px;top:90%;left:90%"/>
			<div class="airplane">
				<img src="/img/airplane.png" style="width:50%"/>
			</div>
			<div class="ct_1">
				<div class="content_title">
					<img src="/img/title1.png"/>
				</div>
				<div class="content">
					<h3>臺北，不斷提昇的城市</h3>
					<p>"隨著社會意識抬頭，設計不只是創新，更重要的是解決生活中各式各樣的問題…”</p>
					<p>在社會設計的氛圍下，臺北市「2016 WDC Taipei」政策將落實「以人為本的設
					計」（Design is People）理念，一方面實踐「社會設計」（Social Design）的
					時代發展潮流，另一方面以「設計是現代公民應有的生活素養」作為推廣目標，
					讓市民廣泛的認識設計，感受設計、享受設計。</p>
					<p>Adaptive City的核心理念是，城市治理必須勇於創新與追求卓越。面對發展上
					的種種挑戰，唯有不斷求新求變，運用具有前瞻性的創新思維與作法，城市才能
					為市民帶來更美好的生活。我們透過多元社群、數位行動工具、實體的能量引爆
					，動員線上到線下大社群，凝聚了眾人的智慧和參與。</p>
					<p>
					Adaptive City是當代城市發展的新典範，是臺北致力於推動實踐的城市願景，
					也是臺北的故事。我們期待，當設計能量從一個一個的城市角落開始發聲，經過
					大家的參與後逐漸累積成「設計實現生活願景」的全民意識，我們將擁有更多新
					想法和力量，將問題化為城市未來的新契機。</p>
				</div>
			</div>
		</div>
		<div id="section-2" class="slide">
			<div class="content_title">
				<img src="/img/title2.png"/>
			</div>
			<div class="content">
				<p>和城市一起走過的路，醞釀強大的設計力量</p>
				<p>因為2016臺北市申請世界設計之都的幸福願景，我們
					不只向前走，也開始回頭細數、深刻探究臺北的過去，
					回味人與環境互動下，獨特的光陰故事。</p>
				<p>漸漸的我們長大，城市也隨著我們悄悄蛻變、不斷提昇
					、不斷進化。我們體會，生活的美好總是出現在不經意
					之處，平日漫步的臺北街頭有了更有趣的風景。城市的
					角落，正醞釀著強大的設計力量。</p>
			</div>
		</div>
		<div id="section-3" class="slide">
			<div class="content_title">
				<img src="/img/title3.png"/>
			</div>
			<div class="content">
				<p>因為設計之都，我們
					一起看見了臺北的設
					計靈魂。</p>
				<p>周遭流動的風景不再
					是理所當然，我們用
					更好奇的眼光觀察、
					記錄這個世代
					日常現象彷彿也有了
					新的意義，我們更熱
					切的與其他人分享。
					向世界展現臺北市對
					於申辦世界設計之都
					的熱情。</p>
			</div>
		</div>
		<div id="section-4" class="slide">
			<div class="section-4fr">
				<div class="bk4_fr">
					<!-- <img src="/img/man1.png" class="man1 m_1"/>
					<img src="/img/man2.png" class="man2 m_2"/>
					<img src="/img/man3.png" class="man3 m_3"/>
					<img src="/img/man4.png" class="man4 m_4"/>
					<img src="/img/man1.png" class="man1 m_5"/>
					<img src="/img/man2.png" class="man2 m_6"/>
					<img src="/img/man3.png" class="man3 m_7"/>
					<img src="/img/man4.png" class="man4 m_8"/>
					<img src="/img/man1.png" class="man1 m_9"/>
					<img src="/img/man2.png" class="man2 m_10"/>
					<img src="/img/man3.png" class="man3 m_11"/>
					<img src="/img/man4.png" class="man4 m_12"/>
					<img src="/img/man1.png" class="man1 m_13"/>
					<img src="/img/man2.png" class="man2 m_14"/>
					<img src="/img/man3.png" class="man3 m_15"/>
					<img src="/img/man4.png" class="man4 m_16"/>
					<img src="/img/man1.png" class="man1 m_17"/>
					<img src="/img/man2.png" class="man2 m_18"/>
					<img src="/img/man3.png" class="man3 m_19"/>
					<img src="/img/man4.png" class="man4 m_20"/>
					<img src="/img/man1.png" class="man1 m_21"/>
					<img src="/img/man2.png" class="man2 m_22"/>
					<img src="/img/man3.png" class="man3 m_23"/>
					<img src="/img/man4.png" class="man4 m_24"/>
					<img src="/img/man1.png" class="man1 m_25"/>
					<img src="/img/man2.png" class="man2 m_26"/>
					<img src="/img/man3.png" class="man3 m_27"/>
					<img src="/img/man4.png" class="man4 m_28"/>
					<img src="/img/man1.png" class="man1 m_29"/>
					<img src="/img/man2.png" class="man2 m_30"/>
					<img src="/img/man3.png" class="man3 m_31"/>
					<img src="/img/man4.png" class="man4 m_32"/>
					<img src="/img/man1.png" class="man1 m_33"/>
					<img src="/img/man2.png" class="man2 m_34"/>
					<img src="/img/man3.png" class="man3 m_35"/>
					<img src="/img/man4.png" class="man4 m_36"/>
					<img src="/img/man1.png" class="man1 m_37"/>
					<img src="/img/man2.png" class="man2 m_38"/>
					<img src="/img/man3.png" class="man3 m_39"/>
					<img src="/img/man4.png" class="man4 m_40"/>
					<img src="/img/man1.png" class="man1 m_41"/>
					<img src="/img/man2.png" class="man2 m_42"/>
					<img src="/img/man3.png" class="man3 m_43"/>
					<img src="/img/man4.png" class="man4 m_44"/>
					<img src="/img/man1.png" class="man1 m_45"/>
					<img src="/img/man2.png" class="man2 m_46"/>
					<img src="/img/man3.png" class="man3 m_47"/>
					<img src="/img/man4.png" class="man4 m_48"/>
					<img src="/img/man1.png" class="man1 m_49"/>
					<img src="/img/man2.png" class="man2 m_50"/>
					<img src="/img/man3.png" class="man3 m_51"/>
					<img src="/img/man4.png" class="man4 m_52"/>
					<img src="/img/man1.png" class="man1 m_53"/>
					<img src="/img/man2.png" class="man2 m_54"/>
					<img src="/img/man3.png" class="man3 m_55"/>
					<img src="/img/man4.png" class="man4 m_56"/>
					<img src="/img/man1.png" class="man1 m_57"/>
					<img src="/img/man2.png" class="man2 m_58"/>
					<img src="/img/man3.png" class="man3 m_59"/>
					<img src="/img/man4.png" class="man4 m_60"/>
					<img src="/img/man1.png" class="man1 m_61"/>
					<img src="/img/man2.png" class="man2 m_62"/>
					<img src="/img/man3.png" class="man3 m_63"/>
					<img src="/img/man4.png" class="man4 m_64"/>
					<img src="/img/man1.png" class="man1 m_65"/>
					<img src="/img/man2.png" class="man2 m_66"/>
					<img src="/img/man3.png" class="man3 m_67"/>
					<img src="/img/man4.png" class="man4 m_68"/>
					<img src="/img/man1.png" class="man1 m_69"/>
					<img src="/img/man2.png" class="man2 m_70"/>
					<img src="/img/man3.png" class="man3 m_71"/>
					<img src="/img/man4.png" class="man4 m_72"/>
					<img src="/img/man1.png" class="man1 m_73"/>
					<img src="/img/man2.png" class="man2 m_74"/>
					<img src="/img/man3.png" class="man3 m_75"/>
					<img src="/img/man4.png" class="man4 m_76"/>
					<img src="/img/man1.png" class="man1 m_77"/>
					<img src="/img/man2.png" class="man2 m_78"/>
					<img src="/img/man3.png" class="man3 m_79"/>
					<img src="/img/man4.png" class="man4 m_80"/>
					<img src="/img/man1.png" class="man1 m_81"/>
					<img src="/img/man2.png" class="man2 m_82"/>
					<img src="/img/man3.png" class="man3 m_83"/>
					<img src="/img/man4.png" class="man4 m_84"/>
					<img src="/img/man1.png" class="man1 m_85"/>
					<img src="/img/man2.png" class="man2 m_86"/>
					<img src="/img/man3.png" class="man3 m_87"/>
					<img src="/img/man4.png" class="man4 m_88"/>
					<img src="/img/man1.png" class="man1 m_89"/>
					<img src="/img/man2.png" class="man2 m_90"/>
					<img src="/img/man3.png" class="man3 m_91"/>
					<img src="/img/man4.png" class="man4 m_92"/>
					<img src="/img/man1.png" class="man1 m_93"/>
					<img src="/img/man2.png" class="man2 m_94"/>
					<img src="/img/man3.png" class="man3 m_95"/>
					<img src="/img/man4.png" class="man4 m_96"/>
					<img src="/img/man1.png" class="man1 m_97"/>
					<img src="/img/man2.png" class="man2 m_98"/>
					<img src="/img/man3.png" class="man3 m_99"/>
					<img src="/img/man4.png" class="man4 m_100"/>
					<img src="/img/man1.png" class="man1 m_101"/>
					<img src="/img/man2.png" class="man2 m_102"/>
					<img src="/img/man3.png" class="man3 m_103"/>
					<img src="/img/man4.png" class="man4 m_104"/>
					<img src="/img/man1.png" class="man1 m_105"/>
					<img src="/img/man2.png" class="man2 m_106"/>
					<img src="/img/man3.png" class="man3 m_107"/>
					<img src="/img/man4.png" class="man4 m_108"/>
					<img src="/img/man1.png" class="man1 m_109"/>
					<img src="/img/man2.png" class="man2 m_110"/>
					<img src="/img/man3.png" class="man3 m_111"/>
					<img src="/img/man4.png" class="man4 m_112"/>
					<img src="/img/man1.png" class="man1 m_113"/>
					<img src="/img/man2.png" class="man2 m_114"/> -->
				</div>
				<div class="content4_title">
					<div class="content_title ">
						<img src="/img/title4.png"/>
					</div>
					<div class="content">
						<p>我們不斷凝聚有熱血、有想法，願意站起來，動手為這個城市做一些改變的人運用網路與科技、融合人文的關懷與同理心，具體解決居民的食衣住行問題</p>
						<p>民間設計能量正熱血實踐一個個具體案例，創造更多幸福，讓這座城市變得更好。</p>
					</div>
				</div>
			</div>
		</div>
		<div id="section-5" class="slide">
			<div class="content_title">
				<img src="/img/title5.png"/>
			</div>
			<div class="content">
				<p>這一次，我們玩數位、拼熱血，串連線上臺北前所未有的設計能量由全世界第一個會走動的小綠人發聲，宣示「奔跑吧！臺北設計之光」</p>
				<p>We Are Ready! </p>
				<p>以實際行動支持臺北市奔向2016世界設計之都</p>
				<p>每一座WDC都有自己的故事，臺北的故事內容正在如火如荼的開展中。在2016年，我們將會看到，臺北市精彩的銳變。</p>
				
			</div>
		</div>
	</body>
	<script src="/js/jquery.js"></script>
	<script src="/js/modernizr.custom.js"></script>
	<script src="/js/jquery.scrollAnimate.js"></script>
	<script src="/js/TweenMax.js"></script>
	<script src="/js/jquery.easing.js"></script>
	<script src="/js/jquery.scrolldeck.js"></script>
	<script src="/js/jquery.scrollorama.js"></script>
	<script src="/js/jquery.scrollTo.js"></script>
	<script src="/js/jquery.parallax.js"></script>
	<script src="/js/jquery.inview.js"></script>
	<script>
		var logo_line = document.getElementById('logo_line'),
			line_fr = document.getElementById('line_fr'),
			logo_pic_fr = document.getElementById('logo_pic_fr'),
			line_fr_l = document.getElementById('line_fr_l'),
			s_logo_pic_fr = document.getElementById('s_logo_pic_fr'),
			tag_trf4 = document.getElementById('tag_trf4'),
			line_fr_right = document.getElementById('line_fr_right'),
			body_fr = $('body'),
			loading_fr = document.getElementById('loading_fr'),
			i=0,
			wHeight = $(window).height(); 

		function al(){   
		   i++;
		   $('body').css('overflow', 'hidden');
		   if(i<101) setTimeout(function(){
				loading_fr.innerHTML=i+'%';
				al();
				if (i == 100){
					display_after_loading();
				}
		   },10);
		}
   		function display_after_loading(){
			setTimeout('',300)
			TweenMax.to(logo_pic_fr,.5, {alpha:1,delay:0.3});
			TweenMax.to(logo_pic_fr,.5, {alpha:1,delay:0.3});
			TweenMax.to(loading_fr, .3, {"display":"none",alpha:1});
			TweenMax.to(logo_line, 1, {width:"100%",delay:1.5});
			TweenMax.to(tag_trf4, .1, {width:"100%",left:"0%",delay:1.5});
			TweenMax.to(logo_pic_fr, .3, {"margin-left":"10%",alpha:0,"display":"none",delay:1.7});
			TweenMax.to(logo_line, 1, {css:{width:"7%",position:'relative',left:"93%"},delay:2.5});
			TweenMax.to(s_logo_pic_fr, 1, {alpha:1,delay:2.5})
			TweenMax.to(line_fr, .0, {width:"7%",position:'fixed',right:0,"z-index":"99",delay:3.5});
			TweenMax.to(tag_trf4, .1, {width:"100%",left:"",delay:3.5});
			TweenMax.to(logo_line, .0, {width:"100%",height:"",float:"",left:"",delay:3.5});
			TweenMax.to(logo_line, .3, {left:"40px",delay:4,onComplete:addtagClass});
		}
		// TweenMax.from(body_fr,.5, {width:"120%"}).to(body_fr, 2, {width:"100%"});
		// TweenMax.to(logo_pic_fr, .8, {display:"none"});
		// var controller = $.superscrollorama();
		// controller.addTween('#logo_line', TweenMax.fromTo(logo_line,.5, {css:{width: '5%'}},{css:{width: '100%'}},.25,1));
		function addtagClass(){
			$('body').css('overflow', '');
			$('.line_fr_l').addClass('line_fr_left_ac');
			$('.line_1').addClass('line_tr_1');
			$('.line_2').addClass('line_tr_2');
			$('.line_3').addClass('line_tr_3');
			$('.line_4').addClass('line_tr_4');
			$('.line_5').addClass('line_tr_5');
			var $hovertag = $('.line_fr_left').find('li');
			var nowstate =1;
			var numberArr= [1,2,3,4,5];
			var moveArr =[];
			var position = [0,0,0,0,0];
			$hovertag.bind({
				mousedown: function (e){
					//console.log('before number:'+numberArr)
					//console.log('before number:'+moveArr)
					//console.log($(this)[0].classList[0].charAt(5));
					var $wantstate = $(this)[0].classList[0].charAt(5);
					for (i=0;i<=4;i++){
						numberArr[i]
						// var setline = '.line_'+numberArr[i];
						// $(setline).css('top',50*i);
						if (numberArr[i] == $wantstate) {
							//console.log('numberArr[i]:'+numberArr[i]);
							//console.log('i:'+i)
							//抓取對應的數值，並加進moveArr中
							for (z=0;z<i;z++){
								console.log('z:'+z);
								var zz =0 ;
								moveArr.push(numberArr[z]);
								zz = 5-i ; 
								var aa ='.line_'+numberArr[z];
								
								//console.log('推下aa: '+aa+'; zz: '+zz+';移動:'+(kerker+zz*50))
								TweenMax.to($(aa),.5, {top:position[numberArr[z]-1]+zz*50});
								position[numberArr[z]-1] = position[numberArr[z]-1]+zz*50;
								console.log()
							}
							//---

							//清空對應數值前的數值
							numberArr.splice(0,i);
							//---
							for ( g=0;g < numberArr.length;g++){
								var aa = '.line_'+numberArr[g];
								var zz =i;
								// var kerker = position[i-1];
								// console.log('推上aa: '+aa+'; zz: '+zz+';移動:'+(kerker-(zz*50)))
								TweenMax.to($(aa),.5, {top:position[numberArr[g]-1]-((zz)*50)});
								position[numberArr[g]-1] = position[numberArr[g]-1]-((zz)*50);
							}



							//console.log('numberArr:'+numberArr);
							//console.log('moveArr:'+moveArr);

							//把在moveArr中的數值push回numberArr
							for ( var x in moveArr){
								numberArr.push(moveArr[x]);
							}
							//---

							//清空move
							moveArr =[];
							//console.log('after number:'+numberArr)
							//console.log('after number:'+moveArr)
							//--
						}
					}
					// var number; 
					// number = $wantstate - nowstate;
					// console.log('number:'+number);
					// if (number >= 3){

					// }
					// else if (number< 2){

					// }
					// nowstate = $wantstate ;
					// console.log($wantstate);
					// console.log('nowstate:'+nowstate);
				},
				mouseover: function(e){
					TweenMax.to($(this), .4, {position:'relative',right:'40px'});
					//console.log(e);
					var section = $(this).data('section');
					//console.log($(thi);
					switch(section) {

						case 'city':
							$('.title_1_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
						case 'road':
							$('.title_2_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
						case 'sociaty':
							$('.title_3_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
						case 'hotblood':
							$('.title_4_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
						case 'world':
							$('.title_5_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
					}
				},
				mouseleave: function(){
					TweenMax.to($(this), .4, {position:'relative',right:'0px'})
					var section = $(this).data('section');
					switch(section) {
						case 'city':
							$('.title_1 > a').removeClass('fadeInRight display').addClass('fadeOutRight')
							break;
						case 'road':
							$('.title_2 > a').removeClass('fadeInRightRight display').addClass('fadeOutRight')
							break;
						case 'sociaty':
							$('.title_3 > a').removeClass('fadeInRight display').addClass('fadeOutRight')
							break;
						case 'hotblood':
							$('.title_4 > a').removeClass('fadeInRight display').addClass('fadeOutRight')
							break;
						case 'world':
							$('.title_5 > a').removeClass('fadeInRight display').addClass('fadeOutRight')
							break;
					}
				}
			});
			var  $cur = $('.curtains');
			TweenMax.to($cur , .0, {display:'block',onComplete:first_scence});
		}
		function adjustsectionheight(){
			$('#section-0').css('height',wHeight);
			$('#section-1').css('height',wHeight);
			$('#section-2').css('height',wHeight);
			$('#section-3').css('height',wHeight);
			$('#section-4').css('height',wHeight);
			$('#section-5').css('height',wHeight);
		}
		adjustsectionheight();
		RepositionNav();
		$(window).resize(function(){
			RepositionNav();
			adjustsectionheight()
		});	
		//.parallax(xPosition, adjuster, inertia, outerHeight) options:
		//xPosition - Horizontal position of the element
		//adjuster - y position to start from
		//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
		//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
		// $('#section-1').parallax("50%", 0, 0.1, true);
		// $('#section-2').parallax("50%", 0, 0.1, true);
		// $('#section-3').parallax("50%", 2500, 0.4, true);
		// $('#section-4').parallax("50%", 2750, 0.3, true);
		// $('#section-5').parallax("50%", 2750, 0.3, true);
		var $nav = $('#nav').find('li');
		$('.insection-1').bind('inview', function (event, visible) {
			if (visible == true) {
				$('#section-1').css('top','0')
				TweenMax.to($nav, .4, {position:'relative',right:'0px'});
				TweenMax.to($('.line_1'), .4, {position:'relative',right:'40px'});
			} else {
				TweenMax.to($('.line_1'), .4, {position:'relative',right:'0px'});
			}
		});
		$('#section-2').bind('inview', function (event, visible) {
			if (visible == true) {
				TweenMax.to($nav, .4, {position:'relative',right:'0px'});
				TweenMax.to($('.line_2'), .4, {position:'relative',right:'40px'});
			} else {
				TweenMax.to($('.line_2'), .4, {position:'relative',right:'0px'});
			}
		});
		$('#section-3').bind('inview', function (event, visible) {
			if (visible == true) {
				TweenMax.to($nav, .4, {position:'relative',right:'0px'});
				TweenMax.to($('.line_3'), .4, {position:'relative',right:'40px'});
			} else {
				TweenMax.to($('.line_3'), .4, {position:'relative',right:'0px'});
			}
		});
		$('#section-4').bind('inview', function (event, visible) {
			if (visible == true) {
				TweenMax.to($nav, .4, {position:'relative',right:'0px'});
				TweenMax.to($('.line_4'), .4, {position:'relative',right:'40px'});
			} else {
				TweenMax.to($('.line_4'), .4, {position:'relative',right:'0px'});
			}
		});
		$('#section-5').bind('inview', function (event, visible) {
			if (visible == true) {
				TweenMax.to($nav, .4, {position:'relative',right:'0px'});
				TweenMax.to($('.line_5'), .4, {position:'relative',right:'40px'});
			} else {
				TweenMax.to($('.line_5'), .4, {position:'relative',right:'0px'});
			}
		});
		//點選nav
		var deck = new $.scrolldeck({
			slides: '.slide',
			buttons: '#nav a',
		});
		//第一場景
		function first_scence(){	
		}
		//讀取
		Modernizr.load([
			{
				test : Modernizr.fontface && Modernizr.canvas && Modernizr.cssgradients,
				both : [ '/js/TweenMax.js' ,'/js/jquery.scrollAnimate.js','/js/jquery.js'],
				complete : function () {
					al();
				}
			}
		]);
		// var taipeiarr = [{
		// 	    top:'140px',
		// 	    left: '70%'
		// 	}
		// 	,{
		// 	    top:'140px',
		// 	    left: '70%'
		// 	}
		// 	,{
		// 	    top:'160px',
		// 	    left: '65%'
		// 	}
		// 	,{
		// 	    top:'165px',
		// 	    left: '66%'
		// 	}
		// 	,{
		// 	    top:'170px',
		// 	    left: '62%'
		// 	}
		// 	,{
		// 	    top:'168px',
		// 	    left: '63%'
		// 	}
		// 	,{
		// 	    top:'167px',
		// 	    left: '54%'
		// 	}
		// 	,{
		// 	    top:'171px',
		// 	    left: '50%'
		// 	}
		// 	,{
		// 	    top:'196px',
		// 	    left: '49%'
		// 	}
		// 	,{
		// 	    top:'190px',
		// 	    left: '44%'
		// 	}
		// 	,{
		// 	    top:'200px',
		// 	    left: '40%'
		// 	}
		// 	,{
		// 	    top:'220px',
		// 	    left: '36%'
		// 	}
		// 	,{
		// 	    top:'200px',
		// 	    left: '48%'
		// 	}
		// 	,{
		// 	    top:'190px',
		// 	    left: '40%'
		// 	}
		// 	,{
		// 	    top:'190px',
		// 	    left: '40%'
		// 	}
		// 	,{
		// 	    top:'230px',
		// 	    left: '30%'
		// 	}
		// 	,{
		// 	    top:'230px',
		// 	    left: '30%'
		// 	}
		// 	,{
		// 	    top:'200px',
		// 	    left: '35%'
		// 	}
		// 	,{
		// 	    top:'260px',
		// 	    left: '17%'
		// 	}
		// 	,{
		// 	    top:'260px',
		// 	    left: '18%'
		// 	}
		// 	,{
		// 	    top:'260px',
		// 	    left: '20%'
		// 	}
		// 	,{
		// 	    top:'260px',
		// 	    left: '30%'
		// 	}
		// 	,{
		// 	    top:'250px',
		// 	    left: '25%'
		// 	}
		// 	,{
		// 	    top:'260px',
		// 	    left: '20%'
		// 	}
		// 	,{
		// 	    top:'280px',
		// 	    left: '15%'
		// 	}
		// 	,{
		// 	    top:'290px',
		// 	    left: '-1%'
		// 	}
		// 	,{
		// 	    top:'290px',
		// 	    left: '8%'
		// 	}
		// 	,{
		// 	    top:'290px',
		// 	    left: '3%'
		// 	}
		// 	,{
		// 	    top:'290px',
		// 	    left: '10%'
		// 	}
		// 	,{
		// 	    top:'280px',
		// 	    left: '10%'
		// 	}
		// 	,{
		// 	    top:'290px',
		// 	    left: '-7%'
		// 	}
		// 	,{
		// 	    top:'300px',
		// 	    left: '-12%'
		// 	}
		// 	,{
		// 	    top:'300px',
		// 	    left: '-2%'
		// 	}
		// 	,{
		// 	    top:'320px',
		// 	    left: '-7%'
		// 	}
		// 	,{
		// 	    top:'330px',
		// 	    left: '-4%'
		// 	}
		// 	,{
		// 	    top:'310px',
		// 	    left: '-4%'
		// 	}
		// 	,{
		// 	    top:'320px',
		// 	    left: '-6%'
		// 	}
		// 	,{
		// 	    top:'350px',
		// 	    left: '-9%'
		// 	}
		// 	,{
		// 	    top:'340px',
		// 	    left: '-20%'
		// 	}
		// 	,{
		// 	    top:'330px',
		// 	    left: '-24%'
		// 	}
		// 	,{
		// 	    top:'320px',
		// 	    left: '-30%'
		// 	}
		// 	,{
		// 	    top:'310px',
		// 	    left: '-40%'
		// 	}
		// 	,{
		// 	    top:'350px',
		// 	    left: '-40%'
		// 	}
		// 	,{
		// 	    top:'250px',
		// 	    left: '70%'
		// 	}
		// 	,{
		// 	    top:'260px',
		// 	    left: '65%'
		// 	}
		// 	,{
		// 	    top:'260px',
		// 	    left: '64.5%'
		// 	}
		// 	,{
		// 	    top:'270px',
		// 	    left: '64%'
		// 	}
		// 	,{
		// 	    top:'260px',
		// 	    left: '50%'
		// 	}
		// 	,{
		// 	    top:'250px',
		// 	    left: '44%'
		// 	}
		// 	,{
		// 	    top:'280px',
		// 	    left: '46%'
		// 	}
		// 	,{
		// 	    top:'270px',
		// 	    left: '41.5%'
		// 	}
		// 	,{
		// 	    top:'290px',
		// 	    left: '43%'
		// 	}
		// 	,{
		// 	    top:'290px',
		// 	    left: '43%'
		// 	}
		// 	,{
		// 	    top:'300px',
		// 	    left: '44%'
		// 	}
		// 	,{
		// 	    top:'310px',
		// 	    left: '43%'
		// 	}
		// 	,{
		// 	    top:'310px',
		// 	    left: '43%'
		// 	}
		// 	,{
		// 	    top:'310px',
		// 	    left: '43%'
		// 	}
		// 	,{
		// 	    top:'315px',
		// 	    left: '43%'
		// 	}
		// 	,{
		// 	    top:'340px',
		// 	    left: '40%'
		// 	}
		// 	,{
		// 	    top:'290px',
		// 	    left: '41%'
		// 	}
		// 	,{
		// 	    top:'310px',
		// 	    left: '38%'
		// 	}
		// 	,{
		// 	    top:'370px',
		// 	    left: '36%'
		// 	}
		// 	,{
		// 	    top:'320px',
		// 	    left: '16%'
		// 	}
		// 	,{
		// 	    top:'320px',
		// 	    left: '16%'
		// 	}
		// 	,{
		// 	    top:'340px',
		// 	    left: '16%'
		// 	}
		// 	,{
		// 	    top:'330px',
		// 	    left: '16%'
		// 	}
		// 	,{
		// 	    top:'350px',
		// 	    left: '6.5%'
		// 	}
		// 	,{
		// 	    top:'360px',
		// 	    left:'6%'
		// 	}
		// 	,{
		// 	    top:'370px',
		// 	    left: '8%'
		// 	}
		// 	,{
		// 	    top:'360px',
		// 	    left: '8%'
		// 	}
		// 	,{
		// 	    top:'375px',
		// 	    left: '8%'
		// 	}
		// 	,{
		// 	    top:'385px',
		// 	    left: '8%'
		// 	}
		// 	,{
		// 	    top:'385px',
		// 	    left: '8%'
		// 	}
		// 	,{
		// 	    top:'385px',
		// 	    left: '8%'
		// 	}
		// 	,{
		// 	    top:'385px',
		// 	    left: '8%'
		// 	}
		// 	,{
		// 	    top:'395px',
		// 	    left: '8%'
		// 	}
		// 	,{
		// 	    top:'385px',
		// 	    left: '-21%'
		// 	}
		// 	,{
		// 	    top:'405px',
		// 	    left: '-21%'
		// 	}
		// 	,{
		// 	    top:'385px',
		// 	    left: '-21%'
		// 	}
		// 	,{
		// 	    top:'395px',
		// 	    left: '-21%'
		// 	}
		// 	,{
		// 	    top:'385px',
		// 	    left: '-21%'
		// 	}
		// 	,{
		// 	    top:'385px',
		// 	    left: '-21%'
		// 	}
		// 	,{
		// 	    top:'385px',
		// 	    left: '-21%'
		// 	}
		// 	,{
		// 	    top:'400px',
		// 	    left: '-10%'
		// 	}
		// 	,{
		// 	    top:'380px',
		// 	    left: '-6%'
		// 	}
		// 	,{
		// 	    top:'355px',
		// 	    left: '64%'
		// 	}
		// 	,{
		// 	    top:'355px',
		// 	    left: '64%'
		// 	}
		// 	,{
		// 	    top:'345px',
		// 	    left: '64%'
		// 	}
		// 	,{
		// 	    top:'325px',
		// 	    left: '64%'
		// 	}
		// 	,{
		// 	    top:'335px',
		// 	    left: '64%'
		// 	}
		// 	,{
		// 	    top:'345px',
		// 	    left: '64%'
		// 	}
		// 	,{
		// 	    top:'375px',
		// 	    left: '52%'
		// 	}
		// 	,{
		// 	    top:'375px',
		// 	    left: '52%'
		// 	}
		// 	,{
		// 	    top:'375px',
		// 	    left: '52%'
		// 	}
		// 	,{
		// 	    top:'375px',
		// 	    left: '52%'
		// 	}
		// 	,{
		// 	    top:'375px',
		// 	    left: '52%'
		// 	}
		// 	,{
		// 	    top:'395px',
		// 	    left: '45%'
		// 	}
		// 	,{
		// 	    top:'395px',
		// 	    left: '39%'
		// 	}
		// 	,{
		// 	    top:'395px',
		// 	    left: '43%'
		// 	}
		// 	,{
		// 	    top:'415px',
		// 	    left: '38%'
		// 	}
		// 	,{
		// 	    top:'50px',
		// 	    left: '32%'
		// 	}
		// 	,{
		// 	    top:'50px',
		// 	    left: '32%'
		// 	}
		// 	,{
		// 	    top:'400px',
		// 	    left: '27%'
		// 	}
		// 	,{
		// 	    top:'400px',
		// 	    left: '27%'
		// 	}
		// 	,{
		// 	    top:'400px',
		// 	    left: '27%'
		// 	}
		// 	,{
		// 	    top:'400px',
		// 	    left: '27%'
		// 	}
		// 	,{
		// 	    top:'430px',
		// 	    left: '20%'
		// 	}
		// 	,{
		// 	    top:'430px',
		// 	    left: '20%'
		// 	}
		// 	,{
		// 	    top:'450px',
		// 	    left: '17%'
		// 	}
		// 	,{
		// 	    top:'450px',
		// 	    left: '17%'
		// 	}
		// 	,{
		// 	    top:'470px',
		// 	    left: '14%'
		// 	}
		// 	,{
		// 	    top:'470px',
		// 	    left: '14%'
		// 	}
		// 	,{
		// 	    top:'130px',
		// 	    left: '15%'
		// 	}
		// 	,{
		// 	    top:'490px',
		// 	    left: '10%'
		// 	}];
		//console.log(taipeiarr[0].top);
		// TweenMax.to($('.m_1'), 6.5, {top:taipeiarr[0].top,left:taipeiarr[0].left});
		// TweenMax.to($('.m_2'), 6.5, {top:taipeiarr[1].top,left:taipeiarr[1].left});
		// TweenMax.to($('.m_3'), 6.5, {top:taipeiarr[2].top,left:taipeiarr[2].left});
		// TweenMax.to($('.m_4'), 6.5, {top:taipeiarr[3].top,left:taipeiarr[3].left});
		// TweenMax.to($('.m_5'), 6.5, {top:taipeiarr[4].top,left:taipeiarr[4].left});
		// TweenMax.to($('.m_6'), 6.5, {top:taipeiarr[5].top,left:taipeiarr[5].left});
		// TweenMax.to($('.m_7'), 6.5, {top:taipeiarr[6].top,left:taipeiarr[6].left});
		// TweenMax.to($('.m_8'), 6.5, {top:taipeiarr[7].top,left:taipeiarr[7].left});
		// TweenMax.to($('.m_9'), 6.5, {top:taipeiarr[8].top,left:taipeiarr[8].left});
		// TweenMax.to($('.m_10'), 6.5, {top:taipeiarr[9].top,left:taipeiarr[9].left});
		// TweenMax.to($('.m_11'), 6.5, {top:taipeiarr[10].top,left:taipeiarr[10].left});
		// TweenMax.to($('.m_12'), 6.5, {top:taipeiarr[11].top,left:taipeiarr[11].left});
		// TweenMax.to($('.m_13'), 6.5, {top:taipeiarr[12].top,left:taipeiarr[12].left});
		// TweenMax.to($('.m_14'), 6.5, {top:taipeiarr[13].top,left:taipeiarr[13].left});
		// TweenMax.to($('.m_15'), 6.5, {top:taipeiarr[14].top,left:taipeiarr[14].left});
		// TweenMax.to($('.m_16'), 6.5, {top:taipeiarr[15].top,left:taipeiarr[15].left});
		// TweenMax.to($('.m_17'), 6.5, {top:taipeiarr[16].top,left:taipeiarr[16].left});
		// TweenMax.to($('.m_18'), 6.5, {top:taipeiarr[17].top,left:taipeiarr[17].left});
		// TweenMax.to($('.m_19'), 6.5, {top:taipeiarr[18].top,left:taipeiarr[18].left});
		// TweenMax.to($('.m_20'), 6.5, {top:taipeiarr[19].top,left:taipeiarr[19].left});
		// TweenMax.to($('.m_21'), 6.5, {top:taipeiarr[20].top,left:taipeiarr[20].left});
		// TweenMax.to($('.m_22'), 6.5, {top:taipeiarr[21].top,left:taipeiarr[21].left});
		// TweenMax.to($('.m_23'), 6.5, {top:taipeiarr[22].top,left:taipeiarr[22].left});
		// TweenMax.to($('.m_24'), 6.5, {top:taipeiarr[23].top,left:taipeiarr[23].left});
		// TweenMax.to($('.m_25'), 6.5, {top:taipeiarr[24].top,left:taipeiarr[24].left});
		// TweenMax.to($('.m_26'), 6.5, {top:taipeiarr[25].top,left:taipeiarr[25].left});
		// TweenMax.to($('.m_27'), 6.5, {top:taipeiarr[26].top,left:taipeiarr[26].left});
		// TweenMax.to($('.m_28'), 6.5, {top:taipeiarr[27].top,left:taipeiarr[27].left});
		// TweenMax.to($('.m_29'), 6.5, {top:taipeiarr[28].top,left:taipeiarr[28].left});
		// TweenMax.to($('.m_30'), 6.5, {top:taipeiarr[29].top,left:taipeiarr[29].left});
		// TweenMax.to($('.m_31'), 6.5, {top:taipeiarr[30].top,left:taipeiarr[30].left});
		// TweenMax.to($('.m_32'), 6.5, {top:taipeiarr[31].top,left:taipeiarr[31].left});
		// TweenMax.to($('.m_33'), 6.5, {top:taipeiarr[32].top,left:taipeiarr[32].left});
		// TweenMax.to($('.m_34'), 6.5, {top:taipeiarr[33].top,left:taipeiarr[33].left});
		// TweenMax.to($('.m_35'), 6.5, {top:taipeiarr[34].top,left:taipeiarr[34].left});
		// TweenMax.to($('.m_36'), 6.5, {top:taipeiarr[35].top,left:taipeiarr[35].left});
		// TweenMax.to($('.m_37'), 6.5, {top:taipeiarr[36].top,left:taipeiarr[36].left});
		// TweenMax.to($('.m_38'), 6.5, {top:taipeiarr[37].top,left:taipeiarr[37].left});
		// TweenMax.to($('.m_39'), 6.5, {top:taipeiarr[38].top,left:taipeiarr[38].left});
		// TweenMax.to($('.m_40'), 6.5, {top:taipeiarr[39].top,left:taipeiarr[39].left});
		// TweenMax.to($('.m_41'), 6.5, {top:taipeiarr[40].top,left:taipeiarr[40].left});
		// TweenMax.to($('.m_42'), 6.5, {top:taipeiarr[41].top,left:taipeiarr[41].left});
		// TweenMax.to($('.m_43'), 6.5, {top:taipeiarr[42].top,left:taipeiarr[42].left});
		// TweenMax.to($('.m_44'), 6.5, {top:taipeiarr[43].top,left:taipeiarr[43].left});
		// TweenMax.to($('.m_45'), 6.5, {top:taipeiarr[44].top,left:taipeiarr[44].left});
		// TweenMax.to($('.m_46'), 6.5, {top:taipeiarr[45].top,left:taipeiarr[45].left});
		// TweenMax.to($('.m_47'), 6.5, {top:taipeiarr[46].top,left:taipeiarr[46].left});
		// TweenMax.to($('.m_48'), 6.5, {top:taipeiarr[47].top,left:taipeiarr[47].left});
		// TweenMax.to($('.m_49'), 6.5, {top:taipeiarr[48].top,left:taipeiarr[48].left});
		// TweenMax.to($('.m_50'), 6.5, {top:taipeiarr[49].top,left:taipeiarr[49].left});
		// TweenMax.to($('.m_51'), 6.5, {top:taipeiarr[50].top,left:taipeiarr[50].left});
		// TweenMax.to($('.m_52'), 6.5, {top:taipeiarr[51].top,left:taipeiarr[51].left});
		// TweenMax.to($('.m_53'), 6.5, {top:taipeiarr[52].top,left:taipeiarr[52].left});
		// TweenMax.to($('.m_54'), 6.5, {top:taipeiarr[53].top,left:taipeiarr[53].left});
		// TweenMax.to($('.m_55'), 6.5, {top:taipeiarr[54].top,left:taipeiarr[54].left});
		// TweenMax.to($('.m_56'), 6.5, {top:taipeiarr[55].top,left:taipeiarr[55].left});
		// TweenMax.to($('.m_57'), 6.5, {top:taipeiarr[56].top,left:taipeiarr[56].left});
		// TweenMax.to($('.m_58'), 6.5, {top:taipeiarr[57].top,left:taipeiarr[57].left});
		// TweenMax.to($('.m_59'), 6.5, {top:taipeiarr[58].top,left:taipeiarr[58].left});
		// TweenMax.to($('.m_60'), 6.5, {top:taipeiarr[59].top,left:taipeiarr[59].left});
		// TweenMax.to($('.m_61'), 6.5, {top:taipeiarr[60].top,left:taipeiarr[60].left});
		// TweenMax.to($('.m_62'), 6.5, {top:taipeiarr[61].top,left:taipeiarr[61].left});
		// TweenMax.to($('.m_63'), 6.5, {top:taipeiarr[62].top,left:taipeiarr[62].left});
		// TweenMax.to($('.m_64'), 6.5, {top:taipeiarr[63].top,left:taipeiarr[63].left});
		// TweenMax.to($('.m_65'), 6.5, {top:taipeiarr[64].top,left:taipeiarr[64].left});
		// TweenMax.to($('.m_66'), 6.5, {top:taipeiarr[65].top,left:taipeiarr[65].left});
		// TweenMax.to($('.m_67'), 6.5, {top:taipeiarr[66].top,left:taipeiarr[66].left});
		// TweenMax.to($('.m_68'), 6.5, {top:taipeiarr[67].top,left:taipeiarr[67].left});
		// TweenMax.to($('.m_69'), 6.5, {top:taipeiarr[68].top,left:taipeiarr[68].left});
		// TweenMax.to($('.m_70'), 6.5, {top:taipeiarr[69].top,left:taipeiarr[69].left});
		// TweenMax.to($('.m_71'), 6.5, {top:taipeiarr[70].top,left:taipeiarr[70].left});
		// TweenMax.to($('.m_72'), 6.5, {top:taipeiarr[71].top,left:taipeiarr[71].left});
		// TweenMax.to($('.m_73'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_74'), 6.5, {top:taipeiarr[73].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_75'), 6.5, {top:taipeiarr[74].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_76'), 6.5, {top:taipeiarr[75].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_77'), 6.5, {top:taipeiarr[76].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_78'), 6.5, {top:taipeiarr[77].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_79'), 6.5, {top:taipeiarr[78].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_80'), 6.5, {top:taipeiarr[79].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_81'), 6.5, {top:taipeiarr[80].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_82'), 6.5, {top:taipeiarr[81].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_83'), 6.5, {top:taipeiarr[82].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_84'), 6.5, {top:taipeiarr[83].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_85'), 6.5, {top:taipeiarr[84].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_86'), 6.5, {top:taipeiarr[85].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_87'), 6.5, {top:taipeiarr[86].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_88'), 6.5, {top:taipeiarr[87].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_89'), 6.5, {top:taipeiarr[88].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_90'), 6.5, {top:taipeiarr[89].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_91'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_92'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_93'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_94'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_95'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_96'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_97'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_98'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_99'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_100'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_101'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_102'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_103'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_104'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_105'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_106'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_107'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_108'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_109'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_110'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_111'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_112'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_113'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_114'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_115'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_116'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_117'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		// TweenMax.to($('.m_118'), 6.5, {top:taipeiarr[72].top,left:taipeiarr[72].left});
		TweenMax.to($('.airplane'), 15.5, {top:'-50%',left:'80%',width:'50%'});
		
		console.log($('.line_2').parents());
	</script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</html>