<!DOCTYPE html>
<html>
	<head>
	<title><%= title %></title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/curtain.css' />
		<link rel='stylesheet' href='/css/base.css' />
		
	</head>
	<body>
		<ul id="menu">
			<li><a href="#up">↑</a></li>
			<li><a href="#down">↓</a></li>
		</ul>
		<ul class="curtains">
		    <!--<li id="section-1" class="cover" data-parallax-background="-.05">-->
		    <li id="section-1" class="cover">
		        <header data-fade="550" data-slow-scroll="3">
		            <h1>curtain.js</h1>
		            <h2>an easy to use scrolling plugin</h2>
		            <a href="#section-3">a</a>
		            <div style="position:relative;background:red;width:200px;height:40px;z-index:9999" class="yo"></div>
		            <div style="position:relative;background:blue;width:200px;height:40px;z-index:9999" class="yo1"></div>
		            <div id="examples-1">
						<div id="fade-it" style="background:red;width:100px;height:50px">Fade It</div>

						<div id="fade-it1" style="background:blue;width:100px;height:50px"></div>
						<h2 id="fly-it">Fly It</h2>
						<h2 id="spin-it">Spin It</h2>
						<h2 id="scale-it">Scale It</h2>
						<h2 id="smush-it">Smush It</h2>
					</div>
		        </header>
		    </li>
		    <li id="section-2">
		        <article>
		            <h4>What's Curtain.js?</h4>
		            <hr>
		            <p>This plugin allows you to create a web page with multiple fixed panels that unroll
		            with an amusing effect. Exactly like a curtain rises.</p>
		            <p>To navigate, you can use your keyboard instead the scrollbar or your mousewheel to navigate
		            into the document. But that's not all, there is more features!<br>
		            You can scroll into this document to view some of them.</p>
		            <h4>How it's works?</h4>
		            <hr>
		            <p>You can find all instructions about the plugin on the <a href="#">github page</a>.</p>
		            <p></p>
		            <p>Feel free to fork the project on <a href="#">github</a> or ping me on
		            <a href="#">twitter</a> for any comments.</p>
		            <p></p>
		            <p class="align-center">
		               <a href="#" class="button">download</a>
		               <a href="#" class="button">instructions</a> 
		            </p>
		        </article>
		    </li>
		    <li id="section-3">
		        <section class="photos">
		            <div class="fixed">
		                <h4>Here's a fixed title</h4>
		                <p>With a small fixed text.</p>
		                <p>Oh, and you can see my last selected Instagram pictures on the left.</p>
		            </div>
		            <div class="photos-inner">
		                <ul class="step-list">
		                    <li class="step">
		                        <img src="img/stepbystep/1.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/2.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/3.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/4.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/5.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/6.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/7.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/8.jpg" alt="">
		                    </li>
		                </ul>
		            </div>
		        </section>
		    </li>
		    <li id="section-4">
		        <section class="download">
		            <h1>Interested?</h1>
		            <a href="#">download on github</a>
		        </section>
		    </li>
		</ul>
		<script src="/js/greensock/TweenMax.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/js/curtain.js"></script>
		<script src="/js/jquery.superscrollorama.js"></script>
		<script>
		    $(function(){
		        // $(window).bind('scroll',function(e){
		        //     parallaxScroll();
		        //     //redrawDotNav();
		        // });
		        // function parallaxScroll(){
		        //     var scrolled = $(window).scrollTop();
		        //     console.log(scrolled);
		        //     $('.yo').css('top',(0-(scrolled*.25))+'px');
		        //     $('.yo1').css('top',(0-(scrolled*.5))+'px');
		        //     // $('#parallax-bg3').css('top',(0-(scrolled*.75))+'px');
		        // }
		       $('.curtains').curtain({
		           scrollSpeed: 300,
		           controls: '#menu',
		           curtainLinks: '.curtain-links',
		           nextSlide: function(){
		            console.log("ok");
		           }
		       });
		       var controller = $.superscrollorama();
		       var scrolled = $(window).scrollTop();

				// individual element tween examples
				controller.addTween('#fade-it', TweenMax.fromTo( $('#fade-it'), .25, {css:{position:'relative',top:0}, immediateRender:true, ease:Quad.easeInOut}, {css:{position:'relative',top:0-(scrolled*.25)}, ease:Quad.easeInOut}));
				controller.addTween('#fade-it1', TweenMax.fromTo( $('#fade-it'), .25, {css:{position:'relative',top:0}, immediateRender:true, ease:Quad.easeInOut}, {css:{position:'relative',top:0-(scrolled*.5)}, ease:Quad.easeInOut}));

				controller.addTween('#fly-it', TweenMax.from( $('#fly-it'), .25, {css:{position:'relative',right:'1000px'}, ease:Quad.easeInOut}));
				controller.addTween('#spin-it', TweenMax.from( $('#spin-it'), .25, {css:{opacity:0, rotation: 720}, ease:Quad.easeOut}));
				controller.addTween('#scale-it', TweenMax.fromTo( $('#scale-it'), .25, {css:{opacity:0, fontSize:'20px'}, immediateRender:true, ease:Quad.easeInOut}, {css:{opacity:1, fontSize:'240px'}, ease:Quad.easeInOut}));
				controller.addTween('#smush-it', TweenMax.fromTo( $('#smush-it'), .25, {css:{opacity:0, 'letter-spacing':'30px'}, immediateRender:true, ease:Quad.easeInOut}, {css:{opacity:1, 'letter-spacing':'-10px'}, ease:Quad.easeInOut}), 0, 100);
		    });
		</script>
	</body>
</html>