<!DOCTYPE html>
<html>
	<head>
	<title></title>
		<link rel='stylesheet' href='/css/tdc.css' />
		<link rel='stylesheet' href='/css/animate.css' />	
		<!--<link rel='stylesheet' href='/css/base.css' />-->
		<script src="/js/jquery.js"></script>
		<script src="/js/modernizr.custom.js"></script>
		<script src="/js/jquery.scrollAnimate.js"></script>
		<script src="/js/TweenMax.js"></script>
		<!--<script src="/js/jquery.superscrollorama.js"></script>-->
		<script src="/js/jquery.easing.js"></script>
		<script src="/js/jquery.scrolldeck.js"></script>
		<script src="/js/jquery.scrollorama.js"></script>
		<script src="/js/jquery.scrollTo.js"></script>
		<script src="/js/jquery.parallax.js"></script>
		<!--<script src="/js/curtain.js"></script>-->
	</head>
	<body>
		<img src="/img/small_logo.png" class="s_logo_img" id="s_logo_pic_fr"/>
		<div class="line_fr" id="line_fr">
			<div class="line_fr_l" id="line_fr_l">
				<ul>
					<li class="title_1">
						<a class="title_1_a">不斷提昇的城市</a>
					</li>
					<li class="title_2">
						<a class="title_2_a">走過的路</a>
					</li>
					<li class="title_3">
						<a class="title_3_a">社群動起來</a>
					</li>
					<li class="title_4">
						<a class="title_4_a">熱血正燃燒</a>
					</li>
					<li class="title_5">
						<a class="title_5_a">被世界看見</a>
					</li>
				</ul>
			</div>
			<div class="line_fr_left" id ="logo_line">
			<ul id="#nav">
				<a href="#section-1">
					<li class="line_1 slide" data-section="city">	
						<img src="/img/tag_fr1.png" class="tag_tr"/>
						<div class="cr_fr"></div>
					
					</li>
				</a>
				<a href="#section-2">
					<li class="line_2 slide" data-section="road">
						<img src="/img/tag_fr2.png" class="tag_tr"/>
						<div class="cr_fr"></div>
					</li>
				</a>
				<a href="#section-3">
					<li class="line_3 slide" data-section="sociaty">
					
						<img src="/img/tag_fr3.png" class="tag_tr"/>
						<div class="cr_fr"></div>
					
					</li>
				</a>
				<a href="#section-4">
					<li class="line_4 slide" id="tag_trf4" data-section="hotblood">
					
						<img src="/img/tag_fr4.png" class="tag_tr" />
						<div class="cr_fr"></div>
					
					</li>
				</a>
				<a href="#section-5">
					<li class="line_5 slide" data-section="world">
						<img src="/img/tag_fr5.png" class="tag_tr"/>
						<div class="cr_fr"></div>
					</li>
				</a>
			</ul>
			</div>
			<div class="line_fr_right">
				<div id="loading_fr"></div>
				<img src="/img/logo.png" class="logo_img" id="logo_pic_fr"/>
			</div>
		</div>
		<div class="">

		</div>
		<!-- 主內容開始 -->
		<!-- <ul class="curtains">
		    <li id="section-1" class="cover">
		        <header data-fade="550" data-slow-scroll="3">
		            <h1>curtain.js</h1>
		            <h2>an easy to use scrolling plugin</h2>
		            <a href="#section-3">a</a>
		        </header>
		    </li>
		    <li id="section-2">
		        <article>
		        	<div style="width:100%;height:3000px;background:#666;"></div>
		            <h4>What's Curtain.js?</h4>
		            <hr>
		            <p>This plugin allows you to create a web page with multiple fixed panels that unroll
		            with an amusing effect. Exactly like a curtain rises.</p>
		            <p>To navigate, you can use your keyboard instead the scrollbar or your mousewheel to navigate
		            into the document. But that's not all, there is more features!<br>
		            You can scroll into this document to view some of them.</p>
		            <h4>How it's works?</h4>
		            <hr>
		            <p>You can find all instructions about the plugin on the <a href="#">github page</a>.</p>
		            <p></p>
		            <p>Feel free to fork the project on <a href="#">github</a> or ping me on
		            <a href="#">twitter</a> for any comments.</p>
		            <p></p>
		            <p class="align-center">
		               <a href="#" class="button">download</a>
		               <a href="#" class="button">instructions</a> 
		            </p>
		        </article>
		    </li>
		    <li id="section-3">
		        <section class="photos">
		            <div class="fixed">
		                <h4>Here's a fixed title</h4>
		                <p>With a small fixed text.</p>
		                <p>Oh, and you can see my last selected Instagram pictures on the left.</p>
		            </div>
		            <div class="photos-inner">
		                <ul class="step-list">
		                    <li class="step">
		                        <img src="img/stepbystep/1.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/2.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/3.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/4.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/5.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/6.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/7.jpg" alt="">
		                    </li>
		                    <li class="step">
		                        <img src="img/stepbystep/8.jpg" alt="">
		                    </li>
		                </ul>
		            </div>
		        </section>
		    </li>
		    <li id="section-4">
		        <section class="download">
		            <h1>Interested?</h1>
		            <a href="#">download on github</a>
		        </section>
		    </li>
		</ul> -->
	</body>
	<script>
		var logo_line = document.getElementById('logo_line'),
			line_fr = document.getElementById('line_fr'),
			logo_pic_fr = document.getElementById('logo_pic_fr'),
			line_fr_l = document.getElementById('line_fr_l'),
			s_logo_pic_fr = document.getElementById('s_logo_pic_fr'),
			tag_trf4 = document.getElementById('tag_trf4'),
			line_fr_right = document.getElementById('line_fr_right'),
			body_fr = $('body'),
			loading_fr = document.getElementById('loading_fr'),
			i=0;
		function al(){   
		   i++;
		   if(i<101) setTimeout(function(){
		   	loading_fr.innerHTML=i+'%';
		   	al();
		   	if (i == 100){
		   		display_after_loading();
		   	}
		   },10);
		}
   		function display_after_loading(){
			setTimeout('',300)
			TweenMax.to(logo_pic_fr, .5, {alpha:1,delay:0.3});
			TweenMax.to(loading_fr, .3, {"display":"none",alpha:1});
			TweenMax.to(logo_line, 1, {width:"100%",delay:1.5});
			TweenMax.to(tag_trf4, .1, {width:"100%",left:"0%",delay:1.5});
			TweenMax.to(logo_pic_fr, .3, {"margin-left":"10%",alpha:0,"display":"none",delay:1.7});
			TweenMax.to(logo_line, 1, {css:{width:"7%",position:'relative',left:"93%"},delay:2.5});
			TweenMax.to(s_logo_pic_fr, 1, {alpha:1,delay:2.5})
			TweenMax.to(line_fr, .0, {width:"7%",position:'fixed',right:0,"z-index":"99",delay:3.5});
			TweenMax.to(tag_trf4, .1, {width:"100%",left:"",delay:3.5});
			TweenMax.to(logo_line, .0, {width:"100%",height:"",float:"",left:"",delay:3.5});
			TweenMax.to(logo_line, .3, {left:"40px",delay:4,onComplete:addtagClass});

		}
		// TweenMax.from(body_fr, .5, {width:"120%"}).to(body_fr, 2, {width:"100%"});
		// TweenMax.to(logo_pic_fr, .8, {display:"none"});
		// var controller = $.superscrollorama();
		// controller.addTween('#logo_line', TweenMax.fromTo(logo_line, .5, {css:{width: '5%'}},{css:{width: '100%'}},.25,1));
		function addtagClass(){
			$('.line_fr_l').addClass('line_fr_left_ac');
			$('.line_1').addClass('line_tr_1');
			$('.line_2').addClass('line_tr_2');
			$('.line_3').addClass('line_tr_3');
			$('.line_4').addClass('line_tr_4');
			$('.line_5').addClass('line_tr_5');
			var $hovertag = $('.line_fr_left').find('li');
			$hovertag.bind({
				mouseenter: function(e){
					TweenMax.to($(this), .4, {position:'relative',right:'40px'});
					//console.log(e);
					var section = $(this).data('section');
					switch(section) {
						case 'city':
							$('.title_1_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
						case 'road':
							$('.title_2_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
						case 'sociaty':
							$('.title_3_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
						case 'hotblood':
							$('.title_4_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
						case 'world':
							$('.title_5_a').removeClass('fadeOutRight').addClass('display animated fadeInRight')
							break;
					}
				},
				mouseleave: function(){
					TweenMax.to($(this), .4, {position:'relative',right:'0px'})
					var section = $(this).data('section');
					switch(section) {
						case 'city':
							$('.title_1 > a').removeClass('fadeInRight display').addClass('fadeOutRight')
							break;
						case 'road':
							$('.title_2 > a').removeClass('fadeInRightRight display').addClass('fadeOutRight')
							break;
						case 'sociaty':
							$('.title_3 > a').removeClass('fadeInRight display').addClass('fadeOutRight')
							break;
						case 'hotblood':
							$('.title_4 > a').removeClass('fadeInRight display').addClass('fadeOutRight')
							break;
						case 'world':
							$('.title_5 > a').removeClass('fadeInRight display').addClass('fadeOutRight')
							break;
					}
				}
			});
			var  $cur = $('.curtains');
			TweenMax.to($cur , .0, {display:'block',onComplete:first_scence});

		}
		var deck = new $.scrolldeck();
		
		$(document).ready(function(){
			//$('#nav').localScroll(800);
			
			RepositionNav();
			
			$(window).resize(function(){
				RepositionNav();
			});	
			
			//.parallax(xPosition, adjuster, inertia, outerHeight) options:
			//xPosition - Horizontal position of the element
			//adjuster - y position to start from
			//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
			//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
			$('#section-1').parallax("50%", 0, 0.1, true);
			$('#section-2').parallax("50%", 0, 0.1, true);
			$('#section-3').parallax("50%", 2500, 0.4, true);
			$('#section-4').parallax("50%", 2750, 0.3, true);
			$('#section-5').parallax("50%", 2750, 0.3, true);

			var deck = new $.scrolldeck({
				slides: '.slide',
				buttons: '#nav a',
				easing: 'easeInOutExpo'
			});

		})







		function first_scence(){




		}
		// $('.curtains').curtain({
		// 	scrollSpeed: 300,
		// 	controls: '#menu',
		// 	curtainLinks: '.curtain-links',
		// 	nextSlide: function(){
		// 	console.log("ok");
		// 	}
		// });
		Modernizr.load([
			{
				test : Modernizr.fontface && Modernizr.canvas && Modernizr.cssgradients,
				both : [ '/js/TweenMax.js' ,'/js/jquery.scrollAnimate.js','/js/jquery.js'],
				complete : function () {
					al();
				}
			}
		]);
	</script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</html>