[{
    top:140px,
    left: 70%
}
,{
    top:140px,
    left: 70%
}
,{
    top:160px,
    left: 65%
}
,{
    top:165px,
    left: 66%
}
,{
    top:170px,
    left: 62%
}
,{
    top:168px,
    left: 63%
}
,{
    top:167px,
    left: 54%
}
,{
    top:171px,
    left: 50%
}
,{
    top:196px,
    left: 49%
}
,{
    top:190px,
    left: 44%
}
,{
    top:200px,
    left: 40%
}
,{
    top:220px,
    left: 36%
}
,{
    top:200px,
    left: 48%
}
,{
    top:190px,
    left: 40%
}
,{
    top:190px,
    left: 40%
}
,{
    top:230px,
    left: 30%
}
,{
    top:230px,
    left: 30%
}
,{
    top:200px,
    left: 35%
}
,{
    top:260px,
    left: 17%
}
,{
    top:260px,
    left: 18%
}
,{
    top:260px,
    left: 20%
}
,{
    top:260px,
    left: 30%
}
,{
    top:250px,
    left: 25%
}
,{
    top:260px,
    left: 20%
}
,{
    top:280px,
    left: 15%
}
,{
    top:290px,
    left: -1%
}
,{
    top:290px,
    left: 8%
}
,{
    top:290px,
    left: 3%
}
,{
    top:290px,
    left: 10%
}
,{
    top:280px,
    left: 10%
}
,{
    top:290px,
    left: -7%
}
,{
    top:300px,
    left: -12%
}
,{
    top:300px,
    left: -2%
}
,{
    top:320px,
    left: -7%
}
,{
    top:330px,
    left: -4%
}
,{
    top:310px,
    left: -4%
}
,{
    top:320px,
    left: -6%
}
,{
    top:350px,
    left: -9%
}
,{
    top:340px,
    left: -20%
}
,{
    top:330px,
    left: -24%
}
,{
    top:320px,
    left: -30%
}
,{
    top:310px,
    left: -40%
}
,{
    top:350px,
    left:-40%
}
,{
    top:250px,
    left: 70%
}
,{
    top:260px,
    left: 65%
}
,{
    top:260px,
    left: 64.5%
}
,{
    top:270px,
    left: 64%
}
,{
    top:260px,
    left: 50%
}
,{
    top:250px,
    left: 44%
}
,{
    top:280px,
    left: 46%
}
,{
    top:270px,
    left: 41.5%
}
,{
    top:290px,
    left: 43%
}
,{
    top:290px,
    left: 43%
}
,{
    top:300px,
    left: 44%
}
,{
    top:310px,
    left: 43%
}
,{
    top:310px,
    left: 43%
}
,{
    top:310px,
    left: 43%
}
,{
    top:315px,
    left: 43%
}
,{
    top:340px,
    left: 40%
}
,{
    top:290px,
    left: 41%
}
,{
    top:310px,
    left: 38%
}
,{
    top:370px,
    left: 36%
}
,{
    top:320px,
    left: 16%
}
,{
    top:320px,
    left: 16%
}
,{
    top:340px,
    left: 16%
}
,{
    top:330px,
    left: 16%
}
,{
    top:350px,
    left: 6.5%
}
,{
    top:360px,
    left:6%
}
,{
    top:370px,
    left: 8%
}
,{
    top:360px,
    left: 8%
}
,{
    top:375px,
    left: 8%
}
,{
    top:385px,
    left: 8%
}
,{
    top:385px,
    left: 8%
}
,{
    top:385px,
    left: 8%
}
,{
    top:385px,
    left: 8%
}
,{
    top:395px,
    left: 8%
}
,{
    top:385px,
    left: -21%
}
,{
    top:405px,
    left: -21%
}
,{
    top:385px,
    left: -21%
}
,{
    top:395px,
    left: -21%
}
,{
    top:385px,
    left: -21%
}
,{
    top:385px,
    left: -21%
}
,{
    top:385px,
    left: -21%
}
,{
    top:400px,
    left: -10%
}
,{
    top:380px,
    left: -6%
}
,{
    top:355px,
    left: 64%
}
,{
    top:355px,
    left: 64%
}
,{
    top:345px,
    left: 64%
}
,{
    top:325px,
    left: 64%
}
,{
    top:335px,
    left: 64%
}
,{
    top:345px,
    left: 64%
}
,{
    top:375px,
    left: 52%
}
,{
    top:375px,
    left: 52%
}
,{
    top:375px,
    left: 52%
}
,{
    top:375px,
    left: 52%
}
,{
    top:375px,
    left: 52%
}
,{
    top:395px,
    left: 45%
}
,{
    top:395px,
    left: 39%
}
,{
    top:395px,
    left: 43%
}
,{
    top:415px,
    left: 38%
}
,{
    top:50px,
    left: 32%
}
,{
    top:50px,
    left: 32%
}
,{
    top:400px,
    left: 27%
}
,{
    top:400px,
    left: 27%
}
,{
    top:400px,
    left: 27%
}
,{
    top:400px,
    left: 27%
}
,{
    top:430px,
    left: 20%
}
,{
    top:430px,
    left: 20%
}
,{
    top:450px,
    left: 17%
}
,{
    top:450px,
    left: 17%
}
,{
    top:470px,
    left: 14%
}
,{
    top:470px,
    left: 14%
}
,{
    top:130px,
    left: 15%
}
,{
    top:490px,
    left: 10%
}]