body{
    margin: 0;
    padding: 0;
    width: 100%;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.logo_img{
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8*/
    filter:alpha(opacity=0);  /*IE5、IE5.5、IE6、IE7*/
    opacity: 0;    
}
.line_fr{
   /* margin: 20% auto;*/
}

.line_fr_left{
    width:5%;
    height:250px;
    float:left;
    margin-left: 0;
}
.line_fr_left_ac{
     width:100%;
     margin-left: -240px;
     text-align: center
}

.line_fr_l{
    width:0%;
    height:250px;
    float:left;
}
.line_fr_l ul li{
    height: 50px;
    width: 300px;
    color: #666;
}

.line_fr_right{
    float:left;margin-left:30px;
}

.logo_fr{
    margin: 10% auto;
}
#s_logo_pic_fr{
    right:10px;
    top:10px;
    position: fixed;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8*/
    filter:alpha(opacity=0); 
    opacity: 0;
}
.tag_tr{
    margin-left: -17px;
    float: left;
}
.cr_fr{
    background: #fff;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 10px;
    opacity: .4;
    border-radius: 30px;
    display: none;
}

.line_1{
    width: 100%;
    height: 48px;
    background:#A4002C; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}
.line_2{
    width: 100%;
    height: 48px;
    background:#E94820; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}
.line_3{
    width: 100%;
    height: 48px;
    background:#65BFA1; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}
.line_4{
    width: 120%;
    height: 48px;
    background:#CDD200; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}

.line_5{
    width: 100%;
    height: 48px;
    background:#F0D300; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}
.line_tr_1,.line_tr_2,.line_tr_3,.line_tr_4,.line_tr_5{
    cursor: pointer;
    z-index: 99;
}
.title_1_a,.title_2_a,.title_3_a,.title_4_a,.title_5_a{
    display: none;
    padding-top: 10px;
}

.title_1,.title_2,.title_3,.title_4,.title_5{
    height: 50px;
}
.display{
    display: block
}
#section-1{
    width: 100%;
    z-index: 9;
    overflow-x:hidden;
    
}
#section-2{
    width: 100%;
    z-index: 8;
    overflow-x:hidden;
    
}
#section-3{
    width: 100%;
    z-index: 7;
    overflow-x:hidden;
    
}
#section-4{
    width: 100%;
    z-index: 6;
    overflow-x:hidden;
    
}
#section-5{
    width: 100%;
    z-index: 5;
    overflow-x:hidden;

}
.man1,.man2,.man3,.man4{
    width: 25px;
    position: relative;
}

.content,.content_title{
    width: 500px;
    margin: auto;
}

.content_title img{
    width: 400px;
}

/* W */
.m_1{
    top:140px;
    left: 50%
}
.m_2{
    top:160px;
    left: 48.5%
}
.m_3{
    top:180px;
    left: 47%
}
.m_4{
    top:200px;
    left: 45.5%   
}
.m_5{
    top:220px;
    left: 43.5%
}
.m_6{
    top:240px;
    left: 42%
}
.m_7{
    top:260px;
    left: 40.5%
}
.m_8{
    top:240px;
    left: 39%
}
.m_9{
    top:220px;
    left: 37%
}
.m_10{
    top:200px;
    left: 35%
}
.m_11{
    top:180px;
    left: 33%
}
.m_12{
    top:200px;
    left:32%
}
.m_13{
    top:220px;
    left: 30.5%
}
.m_14{
    top:240px;
    left: 29%
}
.m_15{
    top:260px;
    left: 28%
}
.m_16{
    top:240px;
    left:26%
}
.m_17{
    top:220px;
    left:24%
}
.m_18{
    top:200px;
    left: 23%
}
.m_19{
    top:180px;
    left: 20%
}
.m_20{
    top:160px;
    left:18.5%
}
.m_21{
    top:140px;
    left: 17%
}
/* D */
.m_22{
    top:140px;
    left: 19%
}
.m_23{
    top:160px;
    left: 16.8%
}
.m_24{
    top:180px;
    left: 14.5%
}
.m_25{
    top:200px;
    left: 12%
}
.m_26{
    top:220px;
    left: 10%
}
.m_27{
    top:240px;
    left:8%
}
.m_28{
    top:260px;
    left: 5.5%
}

.m_29{
    top:260px;
    left: 6%
}
.m_30{
    top:240px;
    left: 5%
}
.m_31{
    top:200px;
    left: 4%
}
.m_32{
    top:180px;
    left: 2%
}
.m_33{
    top:160px;
    left: -2%
}
.m_34{
    top:140px;
    left: -6%
}
.m_35{
    top:120px;
    left: -10%
}
/* C */
.m_36{
        top:120px;
    left: 0%

}
.m_37{
    top:130px;
    left: -4%
}
.m_38{
    top:150px;
    left: -8%
    
}
.m_39{
    top:180px;
    left: -11%
}
.m_40{
    top:220px;
    left: -13%
    
}
.m_41{
    top:240px;
    left: -14%
}
.m_42{
    top:260px;
    left: -15%
}
.m_43{
    top:180px;
    left: 83%
}
.m_44{
    top:180px;
    left: 83%
}
/* C over */
.m_45{
    top:-50px;
    left: 0%
}
.m_46{
    top:50px;
    left: 0%
}
.m_47{
    top:30px;
    left: 0%
}
.m_48{
    top:0px;
    left: 0%
}
.m_49{
    top:0px;
    left: -10%
}
.m_50{
    top:130px;
    left: -6%
}
.m_51{
    top:440px;
    left: -6%
}
.m_52{
    top:360px;
    left: -16%
}
.m_53{
    top:200px;
    left: -21%
}
.m_54{
    top:480px;
    left: -6%
}
.m_55{
    top:310px;
    left: -26%
}
.m_56{
    top:490px;
    left: 36%
}
.m_57{
    top:320px;
    left: -6%
}
.m_58{
    top:340px;
    left: -16%
}
.m_59{
    top:340px;
    left: 16%
}
.m_60{
    top:378px;
    left: 24%
}
.m_61{
    top:410px;
    left: 29%
}
.m_62{
    top:370px;
    left: 36%
}
.m_63{
    top:440px;
    left: 6%
}
.m_64{
    top:440px;
    left: -16%
}
.m_65{
    top:400px;
    left: -10%
}
.m_66{
    top:380px;
    left: -6%
}
.m_67{
    top:360px;
    left: -26%
}
.m_68{
    top:300px;
    left: -16%
}
.m_69{
    top:0px;
    left: -16%
}
.m_70{
    top:480px;
    left: -6%
}
.m_71{
    top:440px;
    left: 6%
}
.m_72{
    top:640px;
    left: 6%
}
.m_73{
    top:590px;
    left: -61%
}
.m_74{
    top:570px;
    left: -40%
}
.m_75{
    top:520px;
    left: 6%
}
.m_76{
    top:570px;
    left: -6%
}
.m_77{
    top:590px;
    left: -21%
}
.m_78{
    top:600px;
    left: -30%
}
.m_79{
    top:640px;
    left: -74%
}
.m_80{
    top:620px;
    left: -86%
}
.m_81{
    top:370px;
    left: 36%
}
.m_82{
    top:440px;
    left: 6%
}
.m_83{
    top:440px;
    left: -16%
}
.m_84{
    top:400px;
    left: -10%
}
.m_85{
    top:380px;
    left: -6%
}
.m_86{
    top:-50px;
    left: 0%
}
.m_87{
    top:50px;
    left: 0%
}
.m_88{
    top:30px;
    left: 0%
}
.m_89{
    top:-160px;
    left: 60%
}
.m_90{
    top:-100px;
    left: 70%
}
.m_91{
    top:-30px;
    left: 86%
}
.m_92{
    top:650px;
    left: 0%
}
.m_93{
    top:730px;
    left: 0%
}
.m_94{
    top:220px;
    left: 70%
}
.m_95{
    top:630px;
    left: 67%
}
.m_96{
    top:-30px;
    left: 86%
}
.m_97{
    top:650px;
    left: 0%
}
.m_98{
    top:640px;
    left: 30%
}
.m_99{
    top:550px;
    left: 7%
}
.m_100{
    top:-30px;
    left: 86%
}
.section-4fr{
    width: 100%;
    height: 100%;
    

}
.bk4_fr{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 50
}
.content4_title{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 99;

}
.sectionfade{
    display: none;
}

.content4_title > .content_title{
    margin-left: 200px;
    font-size: 30px
}
.content4_title > .content{
    width: 30%;
    font-size: 20px;
    margin-left: 200px;
}
.ct_1{
    z-index: 99;
    position: absolute;
    top:3%;
    left: 15%
}
.cloud_fr{
    position: absolute;
} 
.airplane{
    left: 0;
    top:100%;
    position: absolute;
}
.global{
    width: 100%;
    background-image: url('../img/global.png');
}
.cloud_city{
    width: 100%;
    bottom: 0;
}
.ct_2bg{
    width: 592px;
    height: 312px;
    background-image:url('../img/textBK2.png');
}
.ct_2bg div{
    padding: 30px;
}
#section-0{
    width: 100%;
    height:100%;
    z-index: 10;
    background:#fff;
}
.mask{
    /*display: none;*/
}
#section-1{
    background:#fff;
    border-bottom: 2px solid #aaa;
    
}
#section-2{
     background:#fff;
    background-image:url('../img/bg_2.png');
    border-bottom: 2px solid #aaa;
    

}
#section-3{
     background:#fff;
    background-image: url('../img/bg_3.png');
    border-bottom: 2px solid #aaa;
    
}
#section-4{
    background:#fff;
    background-image: url('../img/bg_4.png');
    border-bottom: 2px solid #aaa;
    
}
#section-5{
    background:#f0f0c7;
    border-bottom: 2px solid #aaa;
    
}
.section-1bg{
    width: 100%;
    height: 100%;
}
.section-2bg{
    width: 100%;
    height: 100%;
    background-image:url('../img/bg_2.png');
}
#section-3bg{
    width: 100%;
    height: 100%;
    background-image: url('../img/bg_3.png');
}
#section-4bg{
    width: 100%;
    height: 100%;
    background-image: url('../img/bg_4.png');
}
#section-5bg{
    width: 100%;
    height: 100%;
    background:#f0f0c7;
}
.cld_1{
    /*background: #000;*/
}
.gb{
    width: 70%;
    margin-left:15%;
}
.mask_1{
    width:100%;height:800px;position:relative;z-index:30
}
.line_fr{
    position: relative;
    z-index: 45;
}
