body{
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.logo_img{
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8*/
    filter:alpha(opacity=0);  /*IE5、IE5.5、IE6、IE7*/
    opacity: 0;    
}
.line_fr{
   /* margin: 20% auto;*/
}
.line_fr_left{
    width:5%;
    height:250px;
    float:left;
    margin-left: 0;
}
.line_fr_left_ac{
     width:100%;
     margin-left: -240px;
     text-align: center
}

.line_fr_l{
    width:0%;
    height:250px;
    float:left;
}
.line_fr_l ul li{
    height: 50px;
    width: 300px;
    color: #666;
}

.line_fr_right{
    float:left;margin-left:30px;
}

.logo_fr{
    margin: 10% auto;
}
#s_logo_pic_fr{
    right:10px;
    top:10px;
    position: fixed;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8*/
    filter:alpha(opacity=0); 
    opacity: 0;
}
.tag_tr{
    margin-left: -17px;
    float: left;
}
.cr_fr{
    background: #fff;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 10px;
    opacity: .4;
    border-radius: 30px;
    display: none;
}

.line_1{
    width: 100%;
    height: 48px;
    background:#A4002C; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}
.line_2{
    width: 100%;
    height: 48px;
    background:#E94820; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}
.line_3{
    width: 100%;
    height: 48px;
    background:#65BFA1; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}
.line_4{
    width: 120%;
    height: 48px;
    background:#CDD200; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}

.line_5{
    width: 100%;
    height: 48px;
    background:#F0D300; 
    box-shadow: -5px 6px 15px #666;
    margin-bottom: 2px;
}
.line_tr_1,.line_tr_2,.line_tr_3,.line_tr_4,.line_tr_5{
    cursor: pointer;
    z-index: 99;
}
.title_1_a,.title_2_a,.title_3_a,.title_4_a,.title_5_a{
    display: none;
    padding-top: 10px;
}

.title_1,.title_2,.title_3,.title_4,.title_5{
    height: 50px;
}
.display{
    display: block
}
#section-1{
    height: 700px;
}