body{
    height: 4000px;
}

.r3_1{
    top:320px;
    width: 100px;
    height: 20px;
    position: relative;
    background: blue;
}
.r3_2{
    width: 20px;
    height: 60px;
    left: 100px;
    top:300px;
    position: relative;
    background: blue;
}
.r3_3{
    width: 50px;
    height: 20px;
    top:300px;
    left: 100px;
    position: relative;
    background: blue;
}
.r3_4{
    width:20px;
    top:160px;
    left:150px;
    height: 140px;
    background: blue;
    position: relative;
}
.r3_5{
    width:50px;
    top:20px;
    left:100px;
    height: 20px;
    background: blue;
    position: relative;
}
.r3_6{
    width:20px;
    top:-40px;
    left:80px;
    height: 60px;
    background: blue;
    position: relative;
}

.r3_7{
    width:160px;
    top:-120px;
    left:80px;
    height: 20px;
    background: blue;
    position: relative;
}

.r3_8{
    width:20px;
    top:-140px;
    left:240px;
    height: 140px;
    background: blue;
    position: relative;
}
.cn_fr{
    position: fixed;
}
/*
.r3_9{
    width:20px;
    top:60px;
    left:150px;
    height: 140px;
    background: blue;
    position: relative;
}
*/